
html {
    min-width: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    margin: 1em auto 4em;
    position: relative;
    width: 100%;
}
h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    width: 310px;
    margin: 0.3em 0 0.1em;
}
h2 {
    margin-top: 2em;
}
h1, h2 {
    text-rendering: optimizelegibility;
}
h2 a {
    color: #CCCCCC;
    left: -20px;
    position: absolute;
    width: 740px;
}
footer {
    font-size: small;
    margin-top: 8em;
}
aside {
    font-size: small;
    margin-top:28px;
    text-align: left;
    width: 240px;
}
p {
    line-height: 1.5em;
    width: 720px;
}
blockquote {
    width: 640px;
}
li {
    width: 680px;
}
a {
    color: steelblue;
}
a:not(:hover) {
    text-decoration: none;
}
pre, code, textarea {
    font-family: "Menlo",monospace;
    line-height: normal;
}
textarea {
    font-size: 100%;
}
pre {
    border-left: 2px solid #CCCCCC;
    margin: 2em 0 2em -20px;
    overflow-x: auto;
    padding-left: 18px;
    width: 960px;
}
.html .value, .javascript .string, .javascript .regexp {
    color: #756BB1;
}
.html .tag, .css .tag, .javascript .keyword {
    color: #3182BD;
}
aside, .comment {
    color: #636363;
}
.html .doctype, .javascript .number {
    color: #31A354;
}
.html .attribute, .css .attribute, .javascript .class, .javascript .special {
    color: #E6550D;
}
#map {
    border: 1px solid #DEDEDE;
    height: 600px;
    width: 1000px;
}
